{% if form %}
  <form action='/results' method='get'>
    <div class="form-group">
      <label for='word'>Word</label>
      <input name='word' id='word' type='text' class='form-control'>
      <label for='sentence'>Sentence</label>
      <input name='sentence' id='sentence' type='text' class='form-control'>
    </div>
    <button type='submit' class='btn btn-success'>Submit</button>
  </form>
{% endif %}
