<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
      <h1>Repeat Counter</h1>
      <h3>How many times does your word appear in your sentence? Enter a word, and a sentence       (or many!) to find out!</h3>
      {% include '/includes/form.html.twig' %}
    </div>
  </body>
</html>
