<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
      <h1>Repeat Counter Results</h1>

      <h2>{{ word }} occurs {{ results }} time(s) in "{{ sentence }}"!</h2>
      <form action='/' method='get'>
          <button type="submit" class='btn btn-success'>Go home!</button>
      </form>
    </div>
  </body>
</html>
